body{
	background-color: white;
}
.mynav{
	position: relative;
	left: 15em;
}
.mynav li a{
	margin-right: 3em;
}
#scrollUp{
	background-color: lightgreen;
}

::-webkit-scrollbar{
    display: none;
}
p.article{
	max-height: 200px; 
	overflow: auto;
}
.article-frame{
	margin-top: -6em;
}