body{
	background-color: white;
}
.mynav{
	position: relative;
	left: 15em;
}
.mynav li a{
	margin-right: 3em;
}
#scrollUp{
	/*background-color: lightgreen;*/
}

::-webkit-scrollbar{
    display: none;
}
p.article{
	max-height: 200px; 
	overflow: auto;
}
.article-frame{
	margin-top: -6em;
}
.slider{
	height: 300px!important;
}
a.style{
	opacity: 0.5!important;
	font-size: 40px!important;
	background-color: white!important;
	color: black!important;
}
.hero-slides .single-hero-slide .slide-content h2 a{
	opacity: 0.3;
	font-size: 20px!important;
	background-color: white!important;
	color: black!important;
}
/*div*/
div.InOrOut{
	width:350px;
	height: auto;
	font-size: 30px;
	font-weight: 1000;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;	
	margin-bottom: 1em;
	background-color: rgba(54, 241, 169, 0.1);
	border-style: double;
}
.owl-carousel{
	margin-bottom: 10em;
}


 /* follow */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			position: relative;
			width: 28%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 21%;
		}

		@media screen and (max-width: 980px) {

			.flex.flex-2 article {
				width: 100%;
				margin-bottom: 3em;
			}

				.flex.flex-2 article:last-child {
					margin-bottom: 0;
				}

			.flex.flex-3 {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.flex.flex-3 article {
					width: 100%;
					border-bottom: 1px solid #dbdbdb;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
				}

					.flex.flex-3 article:last-child {
						border: none;
						padding-bottom: 0;
						margin: 0 0 1em 0;
					}

					.flex.flex-3 article:before {
						display: none;
					}

			.flex.flex-4 .box {
				width: 47%;
			}

		}

		@media screen and (max-width: 480px) {

			.flex.flex-4 .box {
				width: 100%;
			}

		}
.button-style
{
	display: inline-block;
	background-color: #FC6103;
	margin-top: 20px;
	padding: 5px 30px;
	height: 30px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}

