{% extends "layout.html" %}
{% block content %}

<div  class = "flex-center" > 
    <div  class = "container" > 
        <div  class = "flex-center" > 
            <div  class = "unit-1-2 unit-1-on-mobile">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %} 
                        {{ form.email.errors }} 
                    {% endif %}
                    <p>please enter your email: {{ form.email }}</p>
 
                    <button  type = "submit"  class = "btn btn-primary btn-block" >Reset password</button > 
                </form>
            </div>
        </div>
    </div>
</div>    

{% endblock %}