{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
	<div class="main">
        <!-- Signup form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form class="register-form" id="register-form" action="{% url 'iwear:register' %}"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                    <tr>
                                        <td style="width: 25%;">使用者名稱</td>
                                        <td>{{ user_form.username }}</td>
                                    
                                    </tr>
                                    <tr>
                                        <td>電子郵件</td>
                                        <td>{{ user_form.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>密碼</td>
                                        <td>{{ user_form.password }}</td>
                                    </tr>	
                                    <tr>
                                        <td>確認密碼</td>
                                        <td>{{ user_form.password2 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{ mem_form.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{ mem_form.gender }}</td>
                                    </tr>
                                    <tr>
                                        <td>Birth</td>
                                        <td>{{ mem_form.birth }}</td>
                                    </tr>
                                    <tr>
                                        <td>Height</td>
                                        <td>{{ mem_form.height }}</td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td>{{ mem_form.weight }}</td>
                                    </tr>
                                    <tr>
                                        <td>頭像</td>
                                        <td>{{ mem_form.mempic }}</td>
                                    </tr>
                                </table>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div> 
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/registration_icons/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
	</div>
	
	<!-- Scripts -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'js/registration.js' %}"></script>
	
</body>
</html>
