 html, body{
	/*background-color: lightyellow;*/
	background-color: rgba(255, 255, 255, 1); 
	margin:0;
	padding: 0;
	height: 100%;
}
.container{
	width: 800px;
	height: auto;
	min-height: 100%;
	/*border: 5px solid black;*/
	background-color: right: ;
	margin-bottom: 100px;
	overflow: hidden;
	padding: 0;
}
/*=========================================================================================*/


/*div*/
.header{
	width: 100%;
	height: 50px;
	/*background-color: red;*/
	background-color: rgba(255, 255, 255, 1); 
	margin-bottom: 30px;
}
div.btnBack{
	width: 300px;
	height: 50px;
	/*background-color: blue;*/
	float: left;
	font-size: 25px;
}
div.btnShare{
	/*width: 200px;
	height: 50px;*/
/*	background-color: green;*/
	font-size: 25px;
 
}
.photo{
	margin-bottom: 30px;
}
.subButton-addShow{
	width: 100%;
	height: 100px;
/*	background-color: blue;*/
}

/*button*/
button.btnBack, button.btnShare{
	width: 100px;
	height: 50px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 1);
	margin:0 auto;
	float: left;
}
button.btnSubButton-addShow{
	width: 50%;
	height: 100px;
	position: relative;
	left: 25%;
	font-size: 50px;
	border: 5px dotted black;
	background-color: red;
}
.btnShare{
	float: right;
}

/*img*/
img.article-addShow{
	width: 100%;
	height: auto;
	border: 5px solid black;	
}
/*table*/
/*table.subButton-addShow{
	width: 100%;
	position: relative;
	border: 5px solid black;
	float: left;
}*/




/*footerNav*/
.footerNav{
	width: 100%;	
	max-width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 1);
	/*background-color: gray;*/
	position: fixed;
	bottom: 0;
	text-align: center;
}
.footerli{
	width: 15%;
	height: 50px;
	float: left;
	margin-right: 5%;
	background-color: rgba(255, 255, 255, 1);
	/*background-color: red;*/
	text-align: center;
}
/*ul*/
ul{
	width: 100%;
	/*float: left;
	position: relative;
	left: 25%;*/
	text-align: center;
}
ul li{
	list-style: none;
	margin: 0 auto;

}

i{
	width: 100%;
	height: 100%;
	color: black;
	position: relative;
	top: 20px;
	font-size: 30px;
}

/*form*/
input.chosePic{
	width: 100%;
	height: 100px;
	/*border: 4px solid black;*/
	/*background-color: white; */
}
img.previewPic{
	width: 100%;
	height: auto;
	border: 3px solid black;
	/*background-color: yellow;*/
}
/*input{
	filter:alpha(opacity=0);
}*/

/*.cover_div{  
        float:left;  
        width:270px;  
    }  
    .fake_input{  
        float:left;  
        width:135px;  
        margin:0 5px 0 0;  
    }  
    .fake_image{  
        background:url(add_date.jpg);  
        width:74px;  
        height:21px;  
        display:block;  
        float:left;  
        text-align:center;  
        color:white;  
        text-decoration:none;  
        font-size:12px;  
        padding:3px 0 0 0;  
        color:white !important;  
    }  
    .hide_input{  
        border:1px solid red;  
        margin:0px 0 0 -267px;  
        margin:0px 0 0 -267px9;  
        float:left;  
        height:30px;  
        opacity:0;  
        filter:alpha(opacity=0);  
        width:220px9;  
    }*/  
