@import url("fontawesome-all.min.css");

body{
	background-color: white;
}
.mynav{
	position: relative;
	left: 15em;
}
.mynav li a{
	margin-right: 3em;
}
#scrollUp{
	/*background-color: lightgreen;*/
}

::-webkit-scrollbar{
    display: none;
}
p.article{
	max-height: 200px; 
	overflow: auto;
}
.article-frame{
	margin-top: -6em;
}
.slider{
	height: 300px!important;
}
a.style{
	opacity: 0.5!important;
	font-size: 40px!important;
	background-color: white!important;
	color: black!important;
}
.hero-slides .single-hero-slide .slide-content h2 a{
	opacity: 0.3;
	font-size: 20px!important;
	background-color: white!important;
	color: black!important;
}
/*div*/
div.InOrOut{
	width:350px;
	height: auto;
	font-size: 30px;
	font-weight: 1000;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;	
	margin-bottom: 1em;
	background-color: rgba(54, 241, 169, 0.1);
	border-style: double;
}
.owl-carousel{
	margin-bottom: 10em;
}


 /* follow */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			position: relative;
			width: 28%;
		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 21%;
		}

		@media screen and (max-width: 980px) {

			.flex.flex-2 article {
				width: 100%;
				margin-bottom: 3em;
			}

				.flex.flex-2 article:last-child {
					margin-bottom: 0;
				}

			.flex.flex-3 {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				.flex.flex-3 article {
					width: 100%;
					border-bottom: 1px solid #dbdbdb;
					padding-bottom: 2.5em;
					margin-bottom: 3em;
				}

					.flex.flex-3 article:last-child {
						border: none;
						padding-bottom: 0;
						margin: 0 0 1em 0;
					}

					.flex.flex-3 article:before {
						display: none;
					}

			.flex.flex-4 .box {
				width: 47%;
			}

		}

		@media screen and (max-width: 480px) {

			.flex.flex-4 .box {
				width: 100%;
			}

		}
img.img-circle{
	width: 50px;
	height: 50px;
}
.button-style{
	display: inline-block;
	background-color: #FC6103;
	margin-top: 20px;
	padding: 5px 30px;
	height: 30px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
}
img.nav-logo{
	width: 50px;
	height: 50px;
}
div.sidebar-widget-area{
	display: block;
	height: 150px;
	position: relative;
	top: -80px;
	margin: 0 auto;
	/*background-color: yellow;*/
}
div#groupchat{
	width: 100%;
	height: 300px;
	/*position: relative;
	top: -80px;*/
	border:5px double black;
}
div.classy-navbar{
	margin-bottom: 10px;
}
ul.tags{
	position: relative;
	top: -40px;
}
.breakpoint-off .classynav ul li .dropdown{
	width: 150px;	
}
input[type=file]{
	width: 100px;
	height: 60px;
	position: relative;
	/*top: 20%;*/
	left: -27%;
	z-index: 2;
	opacity: 0;
}
img#fake_icon{
	width: 100px;
	height: 50px;
	/*float: left;*/
	position: relative;
	/*top: 20%;*/
	/*left: 19%;*/
	margin-right: 15%;
	z-index: 1;
}
div#showPic{
	width: 20em;
	height: 20em;
	/*border: 2px solid black;*/
	/*float: left;*/
	position: fixed;
	top: 19%;
	left: 30%;
	/*z-index: 1;*/
	/*background-color: red;*/
}
button#sure{	
	width: 80px;
	height: 40px;
	background-color: #898272;
	border:5px groove #898272;
	border-radius: 5%;
	color: white;
	font-size: 25px;
	position: fixed;
	left: 80%;
	top: 16em;
	opacity: 0.5;
	/*display: none;*/  /*這裡先不要顯示，等一珊把圖片show出來在顯示*/
}
button.sureInDetail{
	width: 80px;
	height: 40px;
	background-color: #1A1616;
	border:5px groove #1A1616;
	border-radius: 5%;
	color: white;
	font-size: 25px;
	position: relative;
	left: 90%;

	/*opacity: 0.3;*/
	/*display: none;*/  /*這裡先不要顯示，等一珊把圖片show出來在顯示*/
}

/*addDetail*/
.container-detail{
	width: 800px;
	height: 650px;
	/*border: 5px solid black;*/
	overflow: hidden;
	padding: 0;
	margin:10px auto;
}
.article{
	width: 100%;
	height: 220px;
	/*background-color: red;	 */
	margin-bottom: 15px;
	/*margin-top: 10%;*/
}
.articleAdd{
	float: left;
	width: 28%;
	height: 100%;
	/*background-color: yellow;*/
	/*border: 5px solid black;*/
	margin-right: 2%;
}
.context{
	width: 70%;
	height: 100%;
	/*background-color: blue;*/
	float: right;
	overflow: auto;
	border: 5px solid black;
}
.selectOption{
	width: 100%;
	height: 50px;
}
label{
	width: 28%;
	height: 40px;
	margin-right: 2%;	
	background-color: black;
	color: white;
	font-size: 20px;
	position: relative;
	top: 3px;
	text-align: center;
	padding-top: 5px;
}
.styleList{
	width: 70%;
	height: 40px;
	/*border: 5px solid black;*/
	border:none;
	background-color: black;
	color: white;
	font-size: 20px;
	position: relative;
	top: -45px;
	left: 30%;
}
textarea{
	width: 100%;
	height: 100%;
	resize: none;
	padding: none;
	resize: none;
}
::-webkit-scrollbar { 
    display: none; 
}
img.articleAdd{
	width: 100%;
	height: 100%;
	border: 5px solid black;
}

/*commentPage*/
div.commentPage-wrapper{
	/*background-color: lightblue;*/
	width:50%;
	height: 500px;
	margin: 10px auto;
}
div.commentPage-pic{
	width:50%;
	height: 100%;
	/*background-color: pink;*/
	float: left;
	overflow: auto;
}
div.commentPage-pic img{
	width: 100%;
	height: auto;
}

div.commentPage-message{
	width:50%;
	height: 80%;
	/*background-color: yellow;*/
	float: right;
	overflow: auto;
}
div.commentPage-message ul.top{
	position: absolute;
	z-index: 1;
	background-color: #F7F4F4;
}
div.commentPage-message li{
	margin-left: 5%;
	list-style: none;
	/*background-color: red;*/
}
div.commentPage-message li button{
	width: 20%;
	background-color: #484242;
	color: white;
	font-size: 15px;
}
div.commentPage-message ul.bottom li:nth-child(1){
	margin-top: 10%;
}
div.commentPage-message img{
	width: 10%;
	height: 10%;
}
div.commentPage-message p{
	margin-left: 12%;
}

div.commentPage-comment{
	/*background-color: lightgreen;*/
	width:50%;
	height: 20%;
	float: right;
}
div.commentPage-comment ul li i{
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	font-size: 30px;
}
#input{
	width: 70%;
	float: left;
	margin: 5% 0 0 5%;
}
#check{
	width:20%;
	float: left;
	margin: 5% 0 0 5%;
}


/*RWD*/
@media screen and (max-width: 515px) {
	body{
		/*background-color:green;	*/
	}
	div.sidebar-widget-area{
	position: relative;
	top: -80px;
	left: 10px;
	}	
}
@media screen and (min-width: 515px) and (max-width: 550px) {
	body{
		/*background-color:pink;	*/
	}
	div.sidebar-widget-area{
	position: relative;
	top: -80px;
	left: 10px;
	}
	div.commentPage-wrapper{
		width: 70%
	}
}
@media screen and (min-width: 500px) and (max-width: 550px) {
	body{
		/*background-color:lightgreen;	*/
	}
	div.sidebar-widget-area{
	position: relative;
	top: -80px;
	left: 10px;
	}	
	div#showPic{
	width: 16em;
	height: 16em;
	left: 35%;
	}  
	.container-detail{
		width: 450px;
	}
	.article{
		height: 110px;
	}
	input[type=file]{
		left: -36%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	font-size: 25px;
	position: fixed;
	left: 70%;
	top: 15.5em;
	}
	button.sureInDetail{
	left: 82%;
	}
	div.commentPage-wrapper{
		width: 85%
	}
}
@media screen and (min-width: 550px) and (max-width: 575px) {
	body{
		/*background-color:gray;	*/
	}
	div#showPic{
	width: 18em;
	height: 18em;
	}  
	.container-detail{
		width: 450px;
	}
	.article{
		height: 110px;
	}
	input[type=file]{
		left: -36%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	font-size: 25px;
	position: fixed;
	left: 68%;
	top: 16.5em;
	}
	button.sureInDetail{
	left: 82%;
	}
	div.commentPage-wrapper{
		width: 85%
	}
}
@media screen and (min-width: 575px) and (max-width: 600px) {
	body{
		/*background-color:red;	*/
	}
	div#showPic{
	width: 18em;
	height: 18em;
	}
	.container-detail{
		width: 500px;
	}
	.article{
		height: 130px;
	}
	input[type=file]{
		left: -34%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	font-size: 25px;
	position: fixed;
	left: 65%;
	top: 16.5em;
	}
	button.sureInDetail{
	left: 84%;
	}
	div.commentPage-wrapper{
		width: 85%
	}
}
@media screen and (min-width: 600px) and (max-width: 700px) {
	body{
		/*background-color: yellow;*/
	}
	div#showPic{
	width: 18em;
	height: 18em;
	}
	.container-detail{
		width: 600px;
	}	
	.article{
		height: 155px;
	}
	input[type=file]{
		left: -31%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	font-size: 25px;
	position: fixed;
	left: 80%;
	top: 14.5em;
	}
	button.sureInDetail{
	left: 86%;
	}
	div.commentPage-wrapper{
		width: 80%
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
	body{
		/*background-color: brown;*/
	}
	div.sidebar-widget-area{
	position: relative;
	top: -80px;
	left: 10px;
	}
	div#showPic{
	width: 18em;
	height: 18em;
	top: 20%;
	left: 25%;
	}
	div.container-detail{
		width: 700px;
	}
	div.article{
		height: 180px;
	}
	input[type=file]{
		left: -29%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	position: fixed;
	left: 70%;
	top: 15em;
	}
	button.sureInDetail{
	left: 89%;
	}
	div.commentPage-wrapper{
		width: 70%
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px){
	body{
		/*background-color: purple;*/
	}
	img.nav-logo{
		height: 50px;
		width: 50px;
	}
	div#showPic{
	width: 18em;
	height: 18em;
	top: 20%;
	left: 25%;
	}
	button#sure{	
	width: 80px;
	height: 40px;
	position: fixed;
	font-size: 25px;
	left: 65%;
	top: 15em;
	}
	div.commentPage-wrapper{
		width: 65%;
	}
}
@media screen and (min-width: 1000px) {
	body{
		/*background-color: blue;*/
	}
}

