@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

html, body{
/*	background-color: lightyellow;*/
	/* background-color: rgba(255, 255, 255, 1);  */
	background-attachment: green;
	margin:0;
	padding: 0;
	min-height: 1000px;
	height: auto;
	overflow: scroll;
}
.container{
	width: 800px;
	height: 650px;
	/*border: 5px solid black;*/
	overflow: hidden;
	padding: 0;
}
/*=========================================================================================*/


/*div*/
.header{
	width: 100%;
	height: 50px;
	/*background-color: #8C8C8C;*/
	/*background-color: rgba(255, 255, 255, 1); */
	margin-bottom: 20px;
}
.userAdd{
	float: left;
}
div.btnBack{
	width: 300px;
	height: 50px;
	/*background-color: blue;*/
	float: left;
	font-size: 25px;

}
div.btnShare{
	/*width: 200px;
	height: 50px;*/
/*	background-color: green;*/
	font-size: 25px;

}
.article{
	width: 100%;
	height: 220px;
	/*background-color: red; */
	margin-bottom: 20px;
}
.articleAdd{
	float: left;
	width: 28%;
	height: 100%;
	/*background-color: yellow;*/
	margin-right: 2%;
}
.context{
	width: 70%;
	height: 100%;
	/*background-color: blue;*/
	float: right;
	overflow: auto;
	border: 5px solid black;
}
.selectOption{
	width: 100%;
	height: 50px;
	/*background-color: blue;*/

}
label{
	width: 28%;
	height: 40px;
	margin-right: 2%;	
	background-color: black;
	color: white;
	font-size: 20px;
	position: relative;
	top: 3px;
	text-align: center;
	padding-top: 5px;
}
.styleList{
	width: 70%;
	height: 40px;
	/*border: 5px solid black;*/
	background-color: black;
	color: white;
	font-size: 20px;
	position: relative;
	top: -45px;
	left: 30%;
}

/*option*/
option{
	font-weight: bold;
	border: 5px solid black;
}

/*button*/
button.btnBack, button.btnShare{
	width: 100px;
	height: 50px;
	border: 3px solid black;
	border-radius: 15px;
	/*background-color: #A67171;*/
	/*background-color: rgba(255, 255, 255, 1);*/
	/*margin:0 auto;*/
	float: left;
}
.btnShare{
	float: right;
}

/*img*/
img.articleAdd{
	width: 100%;
	height: 100%;
	border: 5px solid black;
}
/*select option*/

/*textarea*/
textarea{
	width: 100%;
	height: 100%;
	resize: none;
	padding: none;
}
::-webkit-scrollbar { 
    display: none; 
}


/*footerNav*/
.footerNav{
	width: 100%;	
	max-width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 1);
	/* background-color: gray; */
	position: fixed;
	bottom: 0;
	text-align: center;
}
.footerli{
	width: 15%;
	height: 50px;
	float: left;
	margin-right: 5%;
	background-color: rgba(255, 255, 255, 1);
	/* background-color: red; */
	text-align: center;
}
/*ul*/
ul{
	width: 100%;
	/*float: left;
	position: relative;
	left: 25%;*/
	text-align: center;
}
ul li{
	list-style: none;
	margin: 0 auto;

}

i{
	width: 100%;
	height: 100%;
	color: black;
	position: relative;
	top: 20px;
	font-size: 30px;
}
i.userId{
	width: 130px;
	height: 35px;
	position: absolute;
	top: 10px;
	left: 40%;
	/*background-color: brown;*/
}


/*RWD*/
@media screen and (max-width: 500px) {
	/* body{
		background:green;	
	} */
	.container{
		width: 400px;
	}
	i.userId{
		left: 35%;
	}
	button.btnShare{
		position: relative;
		top: -50px;
	}
	.article{
		height: 110px;
	}
	/*.context{
		position: relative;
		top: 0px;
	}*/
}
@media screen and (min-width: 500px) and (max-width: 510px) {
	/* body{
		background:pink;	
	} */
	.container{
		width: 450px;
	}
	.article{
		height: 110px;
	}
	/* i.userId{
		display: none;
	} */
	button.btnshare{
		position: fixed;
		left: 100px;
	}
	.context{
		position: relative;
		top: 0px;
	}
}
@media screen and (min-width: 510px) and (max-width: 550px) {
	/* body{
		background:lightgreen;	
	} */
	.container{
		width: 450px;
	}
	.article{
		height: 110px;
	}
}
@media screen and (min-width: 550px) and (max-width: 575px) {
	/* body{
		background:gray;	
	} */
	.container{
		width: 450px;
	}
	.article{
		height: 110px;
	}
}
@media screen and (min-width: 575px) and (max-width: 600px) {
	/* body{
		background: red;	
	} */
	.container{
		width: 500px;
	}
	.article{
		height: 130px;
	}
}
@media screen and (min-width: 600px) and (max-width: 700px) {
	/* body{
		background: yellow;
	} */
	.container{
		width: 600px;
	}	
	.article{
		height: 155px;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
	/* body{
		background: brown;
	} */
	.container{
		width: 700px;
	}
	.article{
		height: 180px;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px){
	/* body{
		background: purple;
	} */
}
@media screen and (min-width: 1000px) {
	/* body{
		background-color: lightblue;
	} */
}


