/*RWD*/
@media screen and (max-width: 515px) {
	body{
		background:green;	
	}
}
@media screen and (min-width: 515px) and (max-width: 550px) {
	body{
		background:lightgreen;	
	}
}
@media screen and (min-width: 500px) and (max-width: 550px) {
	body{
		background:pink;	
	}
}
@media screen and (min-width: 550px) and (max-width: 575px) {
	body{
		background:gray;	
	}
}
@media screen and (min-width: 575px) and (max-width: 600px) {
	body{
		background:red;	
	}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
	body{
		background: yellow;
	}
}
@media screen and (min-width: 800px) and (max-width: 1000px){
	body{
		background: purple;
	}
}
@media screen and (min-width: 1000px) {
	body{
		background-color: blue;
	}
}
