{% extends 'layout.html' %}
{% block content %}
	{% load static %}
	<!-- Script -->
	<!-- 預覽圖片 -->
	<script type="text/javascript">
		$('#photo').change(function () {
			var file = this.files[0];
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function () {
				$('#photo_show')[0].src = this.result
			}
		});
	</script>
    <!-- ##### Single Blog Area Start ##### -->
    <div class="container">	
		<form action = "."  method = "post" enctype="multipart/form-data">	
			<div class="header">
				<div class="btnBack">
					<button type="button" class="btnBack" onclick="history.back()">Back</button> 	
				</div>

				<div class="userAdd">
					<i class="fas fa-user userIcon">{{ request.user }}</i>
				</div>
				
				<div class="btnShare">
					<a href="{% url 'iwear:homepage' %}"><button type="submit" class="btnShare">Share</button></a>
				</div> 				
			</div>

			<div class="article">
				{% csrf_token %}
				<div class="articleAdd">
				<img src="/static/img/logo.png" alt="" id="photo_show" style="width:20%" class="articleAdd">
				</div>
				<input id="photo" type="file" name="photo">
				
				<div class="context">
					<textarea id="word" name="word" placeholder="Write something" style="width: 50%" style="font-size: 20px"></textarea>
				</div>
			</div>
			<div class="selectOption">
				<label>風格</label>
				<select class="styleList" id="styleno" name="styleno">
					<option value="">-------</option>
					<option value="ST01">校園</option>
					<option value="ST02">正裝</option>
					<option value="ST03">休閒</option>
					<option value="ST04">海灘</option>
					<option value="ST05">冬季</option>
					<option value="ST06">其他</option>
				</select>
			</div>

			<div class="selectOption">
				<label>配件</label>
				<select class="styleList" id="accessoriesno" name="accessoriesno">
					<option value="">-------</option>
					<option value="AC01">帽子</option>
					<option value="AC02">眼鏡</option>
					<option value="AC03">墨鏡</option>
					<option value="AC04">圍巾</option>
					<option value="AC05">手錶</option>
					<option value="AC06">腰帶</option>
					<option value="AC07">包包</option>
					<option value="AC08">耳環</option>
					<option value="AC09">項鍊</option>
					<option value="AC10">領帶</option>
					<option value="AC11">領結</option>
					<option value="AC12">其他</option>
				</select>
			</div>

			<div class="selectOption">
				<label>上衣</label>
				<select class="styleList" id="clothesno" name="clothesno">
					<option value="">-------</option>
					<option value="CL01">T恤</option>
					<option value="CL02">POLO衫</option>
					<option value="CL03">衛生衣</option>
					<option value="CL04">毛衣</option>
					<option value="CL05">馬甲</option>
					<option value="CL06">襯衫</option>
					<option value="CL07">背心</option>
					<option value="CL08">大學T</option>
					<option value="CL09">洋裝</option>
					<option value="CL10">泳裝</option>
					<option value="CL11">其他</option>
				</select>
			</div>

			<div class="selectOption">
				<label>外套</label>
				<select class="styleList" id="coatno" name="coatno">
					<option value="">-------</option>
					<option value="CO01">夾克外套</option>
					<option value="CO02">西裝外套</option>
					<option value="CO03">風衣</option>
					<option value="CO04">羽絨衣</option>
					<option value="CO05">運動外套</option>
					<option value="CO06">牛仔外套</option>
					<option value="CO07">帽T</option>
					<option value="CO08">襯衫外套</option>
					<option value="CO09">馬甲</option>
					<option value="CL10">其他</option>
				</select>
			</div>

			<div class="selectOption">
				<label>褲子</label>
				<select class="styleList" id="pantsno" name="pantsno">
					<option value="">-------</option>
					<option value="PA01">西裝褲</option>
					<option value="PA02">牛仔褲</option>
					<option value="PA03">吊帶褲</option>
					<option value="PA04">垮褲</option>
					<option value="PA05">短褲</option>
					<option value="PA06">泳褲</option>
					<option value="PA07">運動褲</option>
					<option value="PA08">長裙</option>
					<option value="PA09">短裙</option>
					<option value="PA10">其他</option>
				</select>
			</div>

			<div class="selectOption">
				<label>鞋子</label>
				<select class="styleList" id="shoesno" name="shoesno">
					<option value="">-------</option>
					<option value="SH01">休閒鞋</option>
					<option value="SH02">帆布鞋</option>
					<option value="SH03">跑步鞋</option>
					<option value="SH04">籃球鞋</option>
					<option value="SH05">滑板鞋</option>
					<option value="SH06">皮鞋</option>
					<option value="SH07">靴子</option>
					<option value="SH08">夾腳拖</option>
					<option value="SH09">拖鞋</option>
					<option value="SH10">涼鞋</option>
					<option value="SH11">高跟鞋</option>
					<option value="SH12">其他</option>
				</select>
			</div>
		</form>
    </div>
    <!-- ##### Single Blog Area End ##### -->
{% endblock %}