{% extends 'layout.html' %}
{% block content %}
	{% load static %}
	<!-- ##### Single Blog Area Start ##### -->
    <div class="single-blog-wrapper section-padding-0-100">
		<div class="container">
			<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Follow</h2>
					</header>
				</div>
					<!-- #### cycle Start #### -->
					{% for follow in follows %}
					
						{% cycle "<div class='inner'> <div class='flex flex-4'> <div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" %}
							<img alt="Bootstrap Image Preview" src="{{ MEDIA_URL }}{{ img.photo }}">
							</div>
							<h3>{{ follow.memfono }}</h3>
                			<p>Cipdum dolor</p>
                			<p><a href="#" class="button-style">追蹤中</a></p>
						{% cycle "</div>" "</div>" "</div>" "</div> </div> </div>" %}
					{% endfor %}
					<!-- #### cycle End #### -->
				</div>
			</section>
		</div>
	</div>
	<!-- ##### Single Blog Area End ##### -->
{% endblock %}