{% extends 'layout.html' %}
{% block content %}
	{% load static %}
	<!-- ##### Single Blog Area Start ##### -->
    <div class="single-blog-wrapper section-padding-0-100">
		<div class="container">
			<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>追蹤</h2>
					</header>
				</div>
				<div class="inner">
					<!-- #### cycle Start #### -->
					{% for follow in follows %}
					<div class="row" style="margin-top: 30px">
						<div class="col-md-4">
							{% if follow.memfoid.mempic %} 
							<!-- 使用者有頭貼 -->
								<img alt="Bootstrap Image Preview" src="{{ MEDIA_URL }}{{ follow.memfoid.mempic }}" class="rounded-circle" />
							{% else %}
							<!-- 沒有頭貼 -->
								<img width="150px" alt="Bootstrap Image Preview" src="{% static 'images/logo.png' %}" class="rounded-circle" />
							{% endif %}
						</div>
						<div class="col-md-4" style="margin-top: 50px">
							<a href="{% url 'iwear:profile_test' follow.memfoid.userid %}"><h3>{{ follow.memfoid.userid }}</h3></a>							
						</div>
						<div class="col-md-4">
							<input id="btn" class="btn btn-primary btn-lg" style="margin-top: 45px" type="button" value="追蹤中">
						</div>
					</div>
					{% endfor %}
					<!-- #### cycle End #### -->
				</div>
			</section>
		</div>
	</div>
	<!-- ##### Single Blog Area End ##### -->

	<!-- Script -->
	<script type="text/javascript">
		var flag=0
		function follow(){
			if(flag==0){
				document.getElementById('btn').value='追蹤中';			
				document.getElementById('btn').class='btn btn-primary btn-lg';
				flag+=1;
			}
			else if(flag==1){
				document.getElementById('btn').value='追蹤';			
				document.getElementById('btn').class='btn btn-primary btn-lg';
				flag=0;	
			}
		}
	</script>
{% endblock %}