{% extends 'layout.html' %}
{% block content %}
    {% load static %}
    
    <!-- ##### Single Blog Area Start ##### -->
    <div class="single-blog-wrapper section-padding-0-100">
        <div class="container">
            <!-- Two -->
            <section id="two" class="wrapper style1 special">
                <div class="inner">
                    <header><h2>Fan</h2></header>

                    <!--  -->
                    {% for friend in friends %}
                        {% cycle "<div class='inner'> <div class='flex flex-4'> <div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" "<div class='box person'> <div class='image round'>" %}
                            {% for img in mems %}
                                {% if img.mempic %}
                                    <img alt="Bootstrap Image Preview" src="{{ MEDIA_URL }}{{ img.mempic }}">
                                {% endif %}
                            {% endfor %}
                            </div>
                            <h3>{{ friends.memfono }}</h3>
                            <p><a href="#" class="button-style">追蹤中</a></p>
                        {% cycle "</div>" "</div>" "</div>" "</div> </div> </div>" %}
                    {% endfor %}

                    
                    <!--  -->

                </div>
            </section>
        </div>
	</div>
    <!-- ##### Single Blog Area End ##### -->

{% endblock %}