{% extends "layout.html" %}
{% block content %}
	{% load static %}
    <div class="container">
		<div class="row">
            <div class="col-md-8 chatroom">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> 聊天室
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fas fa fa-sort-down"></i>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
					</div>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body">
                        <ul class="chat">
                            <a href="#">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="{% static 'img/logo.jpg' %}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">西裝群組</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>訊息 70</small>
                                        </div>
                                        <button>加入</button>
                                    </div>
                                </li>
                            </a>
                            <a href="#">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                   <img src="{% static 'img/logo.jpg' %}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">丹寧群組</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>訊息 58</small>
                                        </div>
                                        <button>加入</button>
                                    </div>
                                </li>
                            </a>
                            <a href="#">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                   <img src="{% static 'img/logo.jpg' %}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">工裝群組</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>訊息 18</small>
                                        </div>
                                        <button>加入</button>
                                    </div>
                                </li>    
                            </a>
                            <a href="#">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="{% static 'img/logo.jpg' %}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">牛仔褲群組</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>訊息 26</small>
                                        </div>
                                        <button>加入</button>
                                    </div>
                                </li>  
                            </a>
                            <a href="#">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="{% static 'img/logo.jpg' %}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">連身褲裝群組</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>訊息 12</small>
                                        </div>
                                        <button>加入</button>
                                    </div>
                                </li>    
                            </a>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- chatroom test end -->
	<!-- ##### Blog Wrapper End ##### -->

    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
{% endblock %}