{% extends 'layout.html' %}
{% block content %}

    <div class="jumbotron">
        <h2> POSTLIST </h2>
        <a class="btn btn-primary btn-large" href="{% url 'iwear:setting' %}">主畫面</a>
    </div>

<div class="test">
	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td> 追蹤編號 </td>
			</tr>
		</thead>
		<tbody>
            {% for posts in post %}
			<tr>
				<td></td>
				<td>
                    {{ posts.word }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
