{% extends "layout.html" %}
{% block content %}

    {% load static %}
    <!-- Search Form  -->
    <!-- <div id="search-wrapper">
        <form action="{% url 'iwear:search' %}"  method="get" enctype="multipart/form-data">
            <input type="text" id="search" placeholder="Search something...">
            <div id="close-icon"></div>
                <input class="d-none" type="submit" value="">
        </form>
    </div> -->
    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Slides Area -->
        <div class="InOrOut">其它朋友的穿搭</div>
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">校園</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">正裝</a>
                                </div>
                               <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">休閒</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">海灘</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">冬季</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->


    <div class="hero-area">
        <!-- Hero Slides Area -->
        <div class="InOrOut">更多穿搭技巧</div>
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">校園</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">正裝</a>
                                </div>
                               <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">休閒</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">海灘</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="slider single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/b3.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" class="style" ata-animation="fadeInUp">冬季</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">看看更多搭配</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

	

{% endblock %}