{% extends "layout.html" %}
{% block content %}

    {% load static %}
    <!-- Search Form  -->
    <!-- <div class="container" style="margin: 0px 120px 50px auto;">
        <form action="/profile_test/"  method="post" enctype="multipart/form-data">
            <div class="col-lg-6">
                <div class="input-group" style="position: absolute;">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn-default" style="margin-left: 20px;" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div> -->

    <!-- ##### Hero Area Start ##### -->
        <!-- Hero Slides Area -->
        <div class="container-fluid">
            <div class="InOrOut">更多穿搭技巧</div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                    {% for recommend in recommends %}
                    {% cycle "<div class='row'> <div class='col-md-4'>" "<div class='col-md-4'>" "<div class='col-md-4'>" %}
                        {% if recommend.photo %}
                            <img alt="Bootstrap Image Preview" width="300" style="margin:0 25%" src="{{ MEDIA_URL }}{{ recommend.photo }}">
                        {% else %}
                            <img alt="Bootstrap Image Preview" width="300" style="margin:0 25%" src="{% static 'images/logo.jpg' %}">
                        {% endif %}
                        <a href="{% url 'iwear:profile_test' recommend.userid  %}"><h3  width="300" style="margin:0 45%;">{{ recommend.userid }}</h3></a>
                    {% cycle "</div>" "</div>" "</div></div>" %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Hero Area Start ##### -->
    <!-- ##### Hero Area End ##### -->

	

{% endblock %}