{% extends 'layout.html' %}
{% block content %}
    <div class="jumbotron">
        <h2> ACCESSORIES </h2>
        <a class="btn btn-primary btn-large" href="{% url 'iwear:homepage' %}">主畫面</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td> # </td>
                <td> 配件編號 </td>
                <td> 配件名稱 </td>
            </tr>
        </thead>
        <tbody>
            {% for accessories in access %}
            <tr>
                <td> </td>
                <td>
                    {{ accessories.accessoriesno }}
                </td>
                <td>
                    {{ accessories.accessories }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}